body{
	margin: 0;
	background: url(./subtle-pattern-7.jpg) repeat;
}
h2{
	font-size:25px;
}
#wrapper-right{
	background:url(./subtle-pattern-7.jpg);
}
.p-arrow{
	background-image:url(./arrow.png);
}
#header{
	width:100%;
	background: url(./header-back.png) repeat-x;
	background-position: 0 -40px;
	height:100px;
}

.h-wrap{
	width:960px;
	margin:0px auto;
}

#title{
	height:60px;
	margin-left:8px;
	margin-top:13px;
	opacity:0.8;
	float:left;
}
#title:hover{
	opacity:0.4;
	cursor:pointer;
}
#nav-div{
	height:30px;
	margin:48px 10px 0 20px;
	float:right;
}
.nav{
	overflow:hidden;
	height:17px;
	width:75px;
	margin-left:15px;
	float:left;
	background:url(./nav.png);
	opacity:0.7;
}
#nav-home{background-position:0 0;}
#nav-about{background-position:0 -17px;}
#nav-gallery{background-position:0 -34px;}
.nav:hover{
	opacity:0.3;
	cursor:pointer;
}
#alert{
	color:red;
}
.shadow{
	-moz-box-shadow:1px 2px 8px #aaa;
	-webkit-box-shadow:1px 2px 8px #aaa;
	box-shadow:1px 2px 8px #aaa;
}

.trans{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out;
}
.manage-table{
	width:100%;
	border-collapse:separate;
	text-align:center;
	border-spacing:4px 6px;
}
.photo-index{
	border-spacing:4px 2px;
}
.manage-table tr td{
	margin: 3px 10px 3px 10px;
}

#admin{
	position:absolute;
	right:5px;
	top:0px;
	text-align:right;
	opacity:0.3;
	text-decoration:none;
}

/* button */
input[type='submit'], input[type='button'] {
	margin-top:10px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:6px 18px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	color:#666666;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}
input[type='submit']:hover , input[type='button']:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f6f6f6), color-stop(100%, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
	cursor:pointer;
}
input[type='submit']:active , input[type='button']:active {
	position:relative;
	top:1px;
}